/.vs/
.vs/Planetary_REDUCT/v16/Server/sqlite3/
.vs/Planetary_REDUCT/v16/Server/sqlite3/storage.ide
.vs/Planetary_REDUCT/v16/Server/sqlite3/storage.ide-wal
.vs/Planetary_REDUCT/v15/.suo
.vs/Planetary_REDUCT/v15/Server/sqlite3/storage.ide-shm
.vs/Planetary_REDUCT/v15/Server/sqlite3/storage.ide-wal
Planetary_REDUCT/bin/Debug/Planetary_REDUCT.exe
Planetary_REDUCT/bin/Debug/Planetary_REDUCT.pdb
