Planetary_REDUCT/obj/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/Planetary_REDUCT/v16/.suo
.vs/Planetary_REDUCT/v16/Server/sqlite3/storage.ide
.vs/Planetary_REDUCT/v16/Server/sqlite3/storage.ide-shm
.vs/Planetary_REDUCT/v16/Server/sqlite3/storage.ide-shm~FirstPage
.vs/Planetary_REDUCT/v16/Server/sqlite3/storage.ide-wal
.vs/Planetary_REDUCT/v16/Server/sqlite3/storage.ide-wal~FirstPage
.vs/Planetary_REDUCT/v16/Server/sqlite3/storage.ide-wal~PlanetaryPage
.vs/Planetary_REDUCT/v16/Server/sqlite3/storage.ide~PlanetaryPage
Planetary_REDUCT/obj/Debug/Planetary_REDUCT_MarkupCompile.lref
Planetary_REDUCT/obj/Debug/Planetary_REDUCT.csprojAssemblyReference.cache
Planetary_REDUCT/obj/Debug/Planetary_REDUCT_MarkupCompile.cache

